<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>bong</title>
    <link rel="stylesheet" href="css/framework7.min.css">
    <link rel="stylesheet" href="css/my-app.css">
    <script src="js/jquery.min.js"></script>
    <script src="http://xiaocaozone.net/public/static/js/jquery.easing.1.3.js"></script>
  </head>
  <body>
    <div class="hidden"></div>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <p>Right panel content goes here</p>
      </div>
    </div>
    <div class="views tabs toolbar-through">
      <div id="userinfo" class="view view-main tab active">
        <!--
        Pages
        
        
        -->
        <div class="pages">
          <!--
          Page, data-page contains page name
          
          
          -->
          <div data-page="index-1" class="page">
            <!--
            Scrollable page content
            
            
            -->
            <div id="userinfo-content" class="page-content">
              <div id="userinfo-logo" class="content-block-logo"><img src="img/logo.jpg"></div>
              <div id="userinfo-title" class="content-block-title"></div>
              <div id="userinfo-data" class="content-block">
                <hr>
                <div class="userinfo-bong"></div>
                <div class="register">
                  <button id="btn-register" class="btn btn-default"></button>
                </div>
                <hr>
                <div class="userinfo-fight-times">
                  <table id="userinfo-table" class="userinfo-data-table">
                    <tr>
                      <td>&#24744;&#30340;&#25784;&#36187;&#27425;&#25968;:</td>
                      <td id="userinfo-fight-times-show">3</td>
                    </tr>
                  </table>
                  <div>&#36214;&#24555;&#21435;bong&#36816;&#21160;&#19979;&#65292;&#26469;&#25442;&#21462;&#25784;&#36187;&#26426;&#20250;&#65281;&#65281;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      Second view (for second wrap)
      
      
      -->
      <div id="fight" class="view tab">
        <div id="search-navbar" class="navbar">
          <div class="navbar-inner">
            <div id="search-title" class="center sliding">&#25784;&#31070;&#22823;&#36187;</div>
          </div>
        </div>
        <div class="pages navbar-through">
          <div data-page="index-2" class="page">
            <div class="page-content">
              <div class="content-block">
                <p id="fight-info" class="fight-info">&#25343;&#36215;&#20320;&#25163;&#20013;&#30340;&#25163;&#26426;&#29993;&#36215;&#26469;&#21543;~~</p>
              </div>
              <hr>
              <!-- click start button-->
              <div id="fight-start" class="fight-start">
                <button id="fight-btn-start" class="btn btn-primary">&#24320;&#22987;&#21543;&#65281;</button>
              </div>
              <!-- loadbar-->
              <section id="fight-loadingbar" class="container">
                <div id="fight-progress" class="progress"><span style="width:0%;" class="blue"><span>0%</span></span></div>
              </section>
              <!-- fight show-->
              <div class="fight-show">
                <!--<div id="fight-show-wrapper-canvas" class="fight-show-wrapper-canvas">
                  <canvas id="fight-show-canvas"></canvas>
                </div>-->
                <div class="fight-wrapper">
                  <div id="fight-pointer"></div>
                </div>
                <div id="fight-test"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="message" class="view tab">
        <div id="message-navbar" class="navbar">
          <div class="navbar-inner">
            <div id="message-title" class="center sliding">&#30041;&#35328;-&#21520;&#27133;</div>
          </div>
        </div><br>
        <hr><br>
        <div class="page-content">
          <div class="list-block">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Msg</div>
                    <div class="item-input">
                      <input id="message-textarea" type="text" placeholder="吐槽吧">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div id="message-btn" class="item-content">
                  <button id="message-submit" class="btn btn-primary">&#26469;&#19968;&#21457;~</button>
                </div>
              </li>
            </ul><br><br>
            <div id="userinfo-data" class="item-content">
              <table id="message-show" class="userinfo-data-table"></table>
            </div><br><br>
          </div>
        </div><br>
        <hr><br>
        <!--
        <div class="page-content">
                  <div class="list-block">
                    <table id="message-show"></table>
                  </div>
        </div>
        -->
      </div>
      <!-- rank-->
      <div id="rank" class="view tab">
        <div class="pages navbar-fixed">
          <div data-page="index-4" class="page">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="center">&#31561;&#32423;&#25490;&#21517;</div>
              </div>
            </div>
            <div class="page-content">
              <div class="list-block">
              </div>
              <div id="userinfo-data" class="content-block">
                <br>
                


                <table id="userinfo-table" class="userinfo-data-table">

                  <tr>
                    <td>&#24744;&#30340;&#20449;&#24687;:</td>
                  </tr>

                  <tr>
                    <td>身高:</td>
                    <td>
                      <div id="userinfo-height" class="progress progress-striped active">
                        <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar"><span id="userinfo-height" class="sr-only">100%</span></div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>体重:</td>
                    <td>
                      <div id="userinfo-weight" class="progress progress-striped active">
                        <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar"><span id="userinfo-weight" class="sr-only">100%</span></div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>&#30446;&#26631;&#21345;&#36335;&#37324;:</td>
                    <td>
                      <div id="userinfo-calorie" class="progress progress-striped active">
                        <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar"><span id="userinfo-calorie-show" class="sr-only">100%</span></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>&#30446;&#26631;&#30561;&#30496;:</td>
                    <td>
                      <div id="userinfo-sleeptime" class="progress progress-striped active">
                        <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar"><span id="userinfo-sleeptime-show" class="sr-only">100%</span></div>
                      </div>
                    </td>
                  </tr>
                </table>

                <hr>



              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      Bottom Tabbar
      
      
      -->
      <div id="menubar" class="toolbar tabbar tabbar-labels">
        <div class="toolbar-inner">
          <a id="btn-userinfo" href="#userinfo" class="tab-link active">
            <i class="icon tabbar-demo-icon-1"></i>
            <span class="tabbar-label">&#20449;&#24687;</span>
          </a>

          <a id="btn-fight" href="#fight" class="tab-link">
            <i class="icon tabbar-demo-icon-2"></i>
            <span class="tabbar-label">&#25784;&#36187;</span>
          </a>

          <a id="btn-message" href="#message" class="tab-link">
            <i class="icon tabbar-demo-icon-3">
              <span class="badge badge-red">3</span>
            </i>
            <span class="tabbar-label">&#21520;&#27133;</span>
          </a>

          <a id="btn-rank" href="#rank" class="tab-link">
            <i class="icon tabbar-demo-icon-4"></i>
            <span class="tabbar-label">&#31561;&#32423;</span>
          </a>
        </div>

      </div>
    </div>
    <path></path>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!--
    Path to your app js
    
    
    -->
    <script type="text/javascript" src="js/my-app.js"></script>
    <script type="text/javascript" src="js/control.js"></script>
  </body>
</html>